Debug/
Release/
src/FSharp.Compiler.CodeDom/FSharp.Compiler.CodeDom.xml
src/FSharp.Compiler.CodeDom/obj/
src/FSharp.PowerPack.Build.Tasks/FSharp.PowerPack.Build.Tasks.xml
src/FSharp.PowerPack.Build.Tasks/obj/
src/FSharp.PowerPack.Compatibility/FSharp.PowerPack.Compatibility.xml
src/FSharp.PowerPack.Compatibility/obj/
src/FSharp.PowerPack.Linq/FSharp.PowerPack.Linq.xml
src/FSharp.PowerPack.Linq/obj/
src/FSharp.PowerPack.Metadata/FSharp.PowerPack.Metadata.xml
src/FSharp.PowerPack.Metadata/obj/
src/FSharp.PowerPack.Parallel.Seq/FSharp.PowerPack.Parallel.Seq.xml
src/FSharp.PowerPack.Parallel.Seq/obj/
src/FSharp.PowerPack.Unittests.v40/obj/
src/FSharp.PowerPack.Unittests/obj/
src/FSharp.PowerPack/FSharp.PowerPack.xml
src/FSharp.PowerPack/obj/
src/FsHtmlDoc/obj/
src/FsLex/fslexlex.fs
src/FsLex/fslexpars.fs
src/FsLex/fslexpars.fsi
src/FsLex/obj/
src/FsYacc/fsyacclex.fs
src/FsYacc/fsyaccpars.fs
src/FsYacc/fsyaccpars.fsi
src/FsYacc/obj/
src/fsppack.vs2010.suo