<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true">  
    </compilation>
  </system.web>
  
  <system.codedom>
    <compilers>
      <compiler language="F#;f#;fs;fsharp" extension=".fs" type="Microsoft.FSharp.Compiler.CodeDom.FSharpAspNetCodeProvider, FSharp.Compiler.CodeDom, Version=1.9.9.9, Culture=neutral, PublicKeyToken=a19089b1c74d0809"/>
    </compilers>
  </system.codedom>
</configuration>
